{% extends 'shop/basic.html' %}
{% block title%} Title of Contact us{% endblock %}
    {% load static %}

<style>
        {% block css %} 
        .container-fluid
        {
          margin: 0px;
          padding: 0PX;
        }
       
          .col-md-3
          {
            
          display: inline-block;
          margin-left:-4px;

          }
          .carousel-indicators .active {
          background-color: blue;
            }
          .col-md-3 img{
          width:100%;
          height:auto;
          }
          body .carousel-indicator li{
          background-color: blue;
          }
          body .carousel-indicators{
          bottom: 0;
          }
          body .carousel-control-prev-icon,
          body .carousel-control-next-icon{
          background-color: blue;
          }
           body .no-padding{
           padding-left: 0,
           padding-right: 0;
           }

  * {
    margin: 0px;
    padding: 0px;
   font-family: 'Kaushan Script', cursive;
}

 button
{
    
      background: linear-gradient(57deg, #0000 , black); 


}

 button:hover{
      background: linear-gradient(57deg, red, blue );   
}
 ul
 {
  list-style: none;
 }

 ul li 
 {
  text-decoration: none;

 }
ul li a
{
  font-size: 20px;
}

.spimg
{
    background-image: url({% static 'shop/img/sp3.jpg' %});
    background-size: cover;
    background-position: center;
}



    {% endblock %}
    </style>
{% block body %}
{% load static %}
<section class="container-fluid bg-light spimg">
<h1 class="text-center text-uppercase text-white font-weight-bold p-2  bg-warning">Contact Me</h1>

<div class="container my-3 text-white font-weight-bold">
<form action="/shop/contact/" method="post" required="required" class=" was-validated animated  rotateInUpRight delay-2s">{% csrf_token %}
        <div class="form-group ">
            <h3><label for="name">Name</label></h3> 
            <input type="text" class="form-control" id="name" name='name' placeholder="Enter Your Name" required="">
        </div>
        <div class="form-group">
          <h3><label for="name">Email</label></h3> 
            <input type="email" class="form-control" id="email" name='email' placeholder="Enter Your Email" required="" title="invalid Email">
        </div>
        <div class="form-group">
            <h3><label for="name">Mobile Number</label></h3> 
            <input type="tel" class="form-control" id="phone" name='phone' placeholder="+91 Enter Your Phone Number" required="">
        </div>
        <div class="form-group">
            <h3><label for="desc">How May We Help You?</label></h3>
            <textarea class="form-control" id="desc" name='desc' rows="3" required=""></textarea>
        </div>

        <button id="sbt" type="submit" class="btn btn-success btn-lg animated infinite  flash delay-2s">Submit</button>
    </form>
</div>

<section class="container-fluid p-5 bg-light spimg">
    <div class="row ">
        <div class="col-md-12 ">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3679.3998134652975!2d75.8400105144372!3d22.750539132150355!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39630277512c4c4b%3A0xd077cd6f46e4d7b4!2sPrince%20Nagar%20Rd%2C%20Prince%20Nagar%2C%20Indore%2C%20Madhya%20Pradesh%20452015!5e0!3m2!1sen!2sin!4v1566723952411!5m2!1sen!2sin" width="100%;" height="450" frameborder="0" style="border-radius:20px;" allowfullscreen=""></iframe>
        </div>


    </div>
</section>
</section>
<script>
    
</script>
{% endblock %}